pipeline/pl_copy_customer_Parentline.json
{
	"name": "pl_copy_customer_Parentline",
	"properties": {
		"activities": [
			{
				"name": "GetCustomerCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT COUNT(*) AS count FROM Customer\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_customer",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IfCountGT500",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetCustomerCount",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('GetCustomerCount').output.firstRow.count), 500)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CopyCustomerData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_customer",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_customer_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "IfCountGT600",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IfCountGT500",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('GetCustomerCount').output.firstRow.count), 600)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "TriggerProductPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_copy_product_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Customer_product_pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-23T12:01:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}